body{
    background:url(images/cars_28.jpg)
    no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
    width: 90vw;
    position:relative;
}
.container{
    width:52vw;
    height:40vh;
}
/* Difficulty Container */
.container2 {
    width: 65vw;
}
/* Contains cards area */
#game-area{
    height: 65vh;
    width:58vw;
    position:relative;

}
/* Back of Card */
.back {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
}
/* Back of Front Card */
.front {
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
}
.card{
    width:9vw;
    height:14vh;
    display:inline-block;
    position:relative;
    border:5px ridge white;
    margin:5px;
}
.selected_card {
    visibility: hidden;
}
.matched_card {
    visibility: hidden;
}
.hide_matched_cards{
    visibility: hidden;
}
/* Cars Cafe Sign */
h1{
    color:white;
    text-shadow: 7px 7px 7px red;
    display:inline;
    font-family: 'Marck Script', cursive;
    font-size:5vw;
    position:absolute;
    right:-61%;
    top:38%;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

/* Entire Div that contains 3 values, reset button, and difficulty buttons */
.stats{
    display:inline-block;
    position:relative;
    top:5vh;
    width:78vw;
}
.stats div{
    display:inline-block;
    position:relative;
    left:0px;
    bottom:0px;
    margin-left:15px;
    font-size:20px;
    margin-right:17px;
}
/* Games Played, Attempts, Accuracy */
h2{
    color:white;
    text-shadow: 7px 7px 7px red;
    display:inline;
    font-family: 'Marck Script', cursive;
    font-size:124%;
    margin-right:17px;
}
/* Values */
p{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top:10px;
    font-family:tahoma;
}
.value{
    background-color: transparent;
    text-shadow: 3px 2px red;
    color:white;
    font-size:2vw;
    display: block;
    margin-left:-49px;
    margin-right:-11px;
}

/* Reset Div */
#reset {
    position:relative;
    top:-5vh;
}
/* Main CSS for Buttons */
button{
    background:url(images/logo.png);
    color:white;
    font-family: 'Marck Script', cursive;
    border:none;
    left:-5px;
    bottom:10px;
    position:relative;
    font-size:16px;
    background-size:100% 100%;
    height:10vh;
    background-position-y:4px;
    box-sizing:border-box;
    background-repeat: no-repeat;
    width:120px;
    margin-right:47px;
}
.buttonpic{
    height:100px;
    width:110px;
    position:absolute;
    bottom:55px;
    left:0px;
    z-index: -5;
}
/* Two Buttons hidden in Reset Div */
.hidden{
    visibility: hidden;
}
/* Difficulty Buttons */
#difficultyButton{
    display:inline-block;
    position:relative;
    left:0px;
    bottom:0px;
    margin-left:15px;
    font-size:20px;
    margin-right:20px;
    width:78vw;
    top:-3vh;
}
/* Added on Difficulty Buttons */
.glow{
    animation: neon1 .5s ease-in-out infinite alternate;
}

/* End Game Message */
h5{
    display:inline;
    font-family: 'League Script', arial;
    font-size:5vw;
    position:absolute;
    right:-8%;
    top:16%;
    opacity: 0.8;
    color:white;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 15px red, 0 0 10px red, 0 0 50px red;
    transition: fade 3s infinite alternate, blink .01s infinite alternate;
    animation: fade 3s infinite alternate;
    transform: rotate(-1deg);
}
span{
    display:inline;
    font-family: 'League Script', arial;
    font-size:5vw;
    position:absolute;
    right:1%;
    top:40%;
    opacity: 0.8;
    color: #cff;
    margin-top:25px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 10px red, 0 0 10px red, 0 0 50px red;
    -webkit-animation: blink .01s infinite alternate;
}

/* End of Game Message */

#counter {
    color: whitesmoke;
    font-size: 100px;
    font-family:"Marck Script", cursive;
    text-shadow: 7px 7px 7px red;
    width:9vw;
    height:9vh;
    position:relative;
    float:right;
    left:473px;
    top:289px;
}

/* Cars Cafe Animation */
@-webkit-keyframes neon1 {
    from {
             text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
         }
    to {
             text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
         }
}
@-moz-keyframes blink {
    70% {
        opacity: 0.7;
    }
}
@-webkit-keyframes blink {
    45% {
        opacity: 0.5;
    }
}
@-moz-keyframes fade {
    40% {
        opacity: 0.8;
    }
    42% {
        opacity: 0.1;
    }
    43% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.1;
    }
    46% {
        opacity: 0.8;
    }
}
@-webkit-keyframes fade {
    40% {
        opacity: 0.8;
    }
    42% {
        opacity: 0.1;
    }
    43% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.1;
    }
    46% {
        opacity: 0.8;
    }
}

/* Media Queries for Responsive Design */

@media only screen and (max-width: 1921px) and (min-width:1367px) {
    #difficultyButton{
        top:9vh;
    }
    #reset{
        top:8vh;
        left:-26vw;
    }
    #counter{
        left:779px;
        top:453px;
    }
}
@media only screen and (max-width: 1366px) and (min-width:1277px){
    #reset {
        left: -37vw;
    }
}
@media screen and (min-width:1130px) and (max-width:1130px){
    .stats{
        display:inline-block;
        position:relative;
        bottom:-78px;
        left:20px;
        width:65%;
    }
    .stats div{
        display:inline-block;
        position:relative;
        left:0px;
        bottom:0px;
        margin-left:15px;
        font-size:20px;
        margin-right:20px;
    }
    #difficultyButton{
        width:75vw;
        height:75vh;
        display: inline-block;
    }
    h2 {
        font-size: 100%;
    }
    h3{
        font-size:100%;
    }
    .value{
        font-size:15%;
    }
    .front{
        height:100%;
        width:100%;
    }
    .back{
        height:100%;
        width:100%;
    }
    .card{
        height:10vh;
        width:10vw;
    }
    #game-area{
        height:52vh;
        width:57vw;
    }
}


@media screen and (min-width:728px) and (max-width:1130px){
    .container{
        width:53vw;
    }
    h1{
       display:none;
    }
    .stats{
        display:inline-block;
        position:relative;
        width:79vw;
        top:2vh;
    }
    .stats div{
        display:inline-block;
        position:relative;
        left:0px;
        bottom:0px;
        margin-left:2vw;
        font-size:20px;
        margin-right:20px;
    }
    #difficultyButton{
        width:71vw;
        top:-2vh;
        display: inline-block;
    }
    h2 {
        font-size: 124%;
    }
    h3{
        font-size:100%;
    }
    h5{
        font-size:4em;
        top:-5vh;
    }
    span{
        font-size: 1em;
        left: 10vw;
        top: 6vh;
    }
    .value{
        font-size:1.2em;
    }
    .front{
            height:100%;
             width:100%;
         }
    .back{
             height:100%;
             width:100%;
         }
    .card{
             height:10vh;
             width:10vw;
         }
    #game-area {
        height: 52vh;
        width: 57vw;
    }
    .container2{
        width:77vw;
    }
    #counter {
        width: 9vw;
        height: 9vh;
        position: relative;
        float: right;
        left: 28vw;
        top: 41vh;
    }
}

@media screen and (min-width:486px) and (max-width:728px){
    button{
        margin-right:0px;
    }
    h1{
        display:none;
    }
    .value{
        font-size:1.2em;
    }
    #difficultyButton{
        position:absolute;
        top:26vh;
        width:92vw;
    }
    .stats{
        width:83vw;
    }
    #reset {
        position: relative;
        top: -5vh;
    }
    .container2{
        width:85vw;
    }
    .container{
        width:100vw;
    }
    .card{
        width:13vw;
    }
    #counter {
        width: 9vw;
        height: 9vh;
        position: relative;
        float: right;
        left: 28vw;
        top: 41vh;
    }
    h5{
        font-size:4em;
        top:-5vh;
    }
    span{
        font-size: 1em;
        left: 27vw;
        top: 6vh;
    }
    .stats div{
        margin-right:20px;
    }
    h2{
        margin-right:0px;
        font-size:117%;
    }
}
@media screen and (min-width:472px) and (max-width:561px){
    h1{
        display:none;
    }
    #reset {
        position: relative;
        top: -5vh;
    }
    .stats{
        width:94vw;
    }
    #difficultyButton {
        top: 27vh;
        width:106vw;
    }
    .value {
        font-size: 1em;
        position: relative;
        top: -3vh;
    }
    .container2{
        width:80vw;
    }
    .container {
        width: 100vw;
        height: 40vh;
    }
    .card {
        width: 12vw;
        height: 14vh;
    }
    h5{
        font-size:4em;
        top:-5vh;
    }
    span{
        font-size: 1em;
        left: 27vw;
        top: 6vh;
    }
    #counter {
        width: 9vw;
        height: 9vh;
        position: relative;
        float: right;
        left: -22vw;
        top: 48vh;
        font-size:64px;
    }
    .stats div{
        margin-right:10px;
    }
}
@media screen and (min-width:433px) and (max-width:485px){
    h1{
        display:none;
    }
    #reset {
        position: relative;
        top: -4vh;
        left: 0vw;
    }
    #difficultyButton {
        top: -5vh;
        width: 95vw;
    }
    .stats{
        height:5vh;
        width:105vw;
    }
    .value {
        font-size: 1.2em;
    }
    .container2{
        width:80vw;
    }
    .container {
        width: 88vw;
    }
    .card {
        width: 10vw;
    }
    h5{
        font-size:4em;
        top:-5vh;
    }
    span{
        font-size: 1em;
        left: 27vw;
        top: 6vh;
    }
    button{
        margin:6px;
    }
    #counter{
        font-size: 62px;
        left: -13vw;
        top: 45vh;
    }
    h2{
        font-size:107%;
    }
}
@media screen and (min-width:377px) and (max-width:432px){
    h1{
        display:none;
    }
    #reset {
        top: -5vh;
    }
    #difficultyButton {
        top: -4vh;
        width: 95vw;
    }
    .stats{
        height:5vh;
        width:105vw;
    }
    .value {
        font-size: 1.2em;
    }
    .container2{
        width:80vw;
    }
    .container {
        width: 90vw;
    }
    .card {
        width: 10vw;
    }
    h5{
        font-size:4em;
        top:-5vh;
    }
    button{
        margin:0;
    }
    #counter{
        font-size: 61px;
        left: -12vw;
        top: 46vh;
    }
    span{
        font-size: 1em;
        left: 27vw;
        top: 6vh;
    }
    h2{
        font-size:89%;
    }
}

/*/ Mobile /*/

@media only screen and (max-width: 376px) {
    .container {
        width: 92vw;
    }
    #difficultyButton {
        top: -4vh;
        width: 100vw;
        margin-left: 0;
    }
    #reset{
        top:-21vh;
        left:-4vw;
    }
    h1{
        display:none;
    }
    #reset {
        top: -5vh;
        left:-1vw;
    }
    .stats{
        height:5vh;
        width:105vw;
    }
    .value {
        font-size: 1.2em;
    }
    .container2{
        width:92vw;
    }
    .card {
        width: 10vw;
    }
    h5{
        font-size:3em;
        top:-5vh;
    }
    button{
        margin:0;
        width:119px;
    }
    .stats div{
        margin-right:0px;
        margin-left:0px
    }
    #counter{
        font-size: 61px;
        left: -14vw;
        top: 48vh;
    }
    span{
        font-size: 1em;
        left: 20vw;
        top: 4vh;
    }
    h2{
        font-size:104%;
    }
}
/* Mobile */
/*@media only screen and (max-width: 376px) {*/
    /*.container{*/
        /*width:92vw;*/
    /*}*/
    /*.stats{*/
        /*width:99vw;*/
    /*}*/
    /*#difficultyButton {*/
        /*top: -22vh;*/
        /*width: 100vw;*/
        /*margin-left: 0;*/
    /*}*/
    /*#reset{*/
        /*top:-21vh;*/
        /*left:-4vw;*/
    /*}*/

/*}*/


/* CSS for About page removed */
/*li{*/
/*list-style-type: none;*/
/*text-align: center;*/
/*color: white;*/
/*font-size: 15px;*/
/*font-family:tahoma;*/
/*}*/
/*h4 {*/
/*position: relative;*/
/*text-align: center;*/
/*color: white;*/
/*text-shadow: 7px 7px 7px black;*/
/*font-family: 'Marck Script', cursive;*/
/*font-size: 25px;*/
/*margin:0px;*/
/*padding-top:5px;*/
/*}*/

/*a{*/
/*color:white;*/
/*text-shadow: 7px 7px 7px red;*/
/*display:inline-block;*/
/*font-family: 'Marck Script', cursive;*/
/*font-size:25px;*/
/*text-decoration: none;*/
/*margin-left:1vw;*/
/*}*/
/*a:hover{*/
/*color:red;*/
/*}*/