header{
    display:inline-block;
    float:left;
    position:absolute;
    bottom:0px;
    left:0px;
}
a{
    color:white;
    text-shadow: 7px 7px 7px red;
    display:block;
    font-family: 'Marck Script', cursive;
    font-size:20px;
    padding-left:15px;
    text-decoration: none;
}
a:hover{
    color:red;
}
h1{
    color:white;
    text-shadow: 7px 7px 7px red;
    display:inline;
    font-family: 'Marck Script', cursive;
    font-size:61px;
    position:absolute;
    float:right;
    right:7vw;
    top:26vh;
    transition:all 1s;
    animation: neon1 1.5s ease-in-out infinite alternate;
}
h2{
    color:white;
    text-shadow: 7px 7px 7px red;
    display:inline;
    font-family: 'Marck Script', cursive;
    font-size:25px;
}
html{
    background:url(images/cars_28.jpg)
    no-repeat center center fixed;
    background-size: cover;
}
.stats{
    display:inline-block;
    float:left;
    position:relative;
    bottom:0px;
    left:20px;
}
body{
    margin:auto;
}
.game_area{
    height: 35vh;
    width:35vw;
    background-color:gray;
}
.back{
    width:100%;
    height:100%;
}
.front{
    width:100%;
    height:100%;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility: hidden;
}
.card{
    width:100px;
    height:100px;
    perspective: 1000;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    display:inline-block;
    border:5px ridge white;
}
.container:hover .card {
    transform: rotateY(180deg);
}
.container{
    display:inline;
    margin:5px;
}
.row{
    margin:20px 0px 20px 15px;
}
p{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top:10px;
    font-family:tahoma;
}
li{
    list-style-type: none;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: tahoma;
}
h4 {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 7px 7px 7px black;
    font-family: 'Marck Script', cursive;
    font-size: 25px;
    margin:0px;
    padding-top:5px;
}
.block{
    float:left;
    width:400px;
    height:150px;
    background-color:#e74c3c;
    margin: 1px 60px;
    border:5px outset black;
    box-shadow: 10px 10px,-10px -10px #f4f4f4, 0px 0px 5px 5px
}
button{
    background-color: red;
    color:white;
    font-family:"Marck Script",cursive;
}
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}